/* no-float.css */
#wrap {
  width:  100%;
  background-color:   gray;
}
#box1 {
  background-color: purple;
  color:  white;
  width:  50%;
}
#box2 {
  background-color: green;
  color:  white;
  width:  50%;
}
#box3 {
  background-color: blue;
  color:  white;
}